<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lab5.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Lab5</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item"><a asp-controller="Labs" asp-action="Lab1" class="nav-link text-dark">Лаб. №1</a></li>
                            <li class="nav-item"><a asp-controller="Labs" asp-action="Lab2" class="nav-link text-dark">Лаб. №2</a></li>
                            <li class="nav-item"><a asp-controller="Labs" asp-action="Lab3" class="nav-link text-dark">Лаб. №3</a></li>
                        }

                        <li class="nav-item">
                            <a asp-controller="Divers" asp-action="Index" class="nav-link text-dark">Divers</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="DiveSites" asp-action="Index" class="nav-link text-dark">Dive sites</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Dives" asp-action="Index" class="nav-link text-dark">Dives</a>
                        </li>
                    </ul>

                    <!-- Профіль -->
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <ul class="navbar-nav flex-grow-1 justify-content-end">
                            <li class="m-1">
                                <a asp-controller="Account" asp-action="Profile" class='btn btn-primary w-100 my-1'>Profile</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1 justify-content-end">
                             <li class="m-1">
                                 <a asp-controller="Account" asp-action="Login" class='btn btn-primary w-100 my-1'>Login</a>
                             </li>
                            <li class="m-1">
                                <a asp-controller="Account" asp-action="Register" class='btn btn-danger w-100 my-1'>Register</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Lab5 - <a asp-controller="home" asp-action="privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>