@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@



<section>
    <div class="text-center">
        <h1>Лабораторна №5</h1>

    </div>
    <div>
        <h2>Веб застосунок (ASP.NET Core MVC) складається з двох проектів:</h2>
        <p> a.	Безпосередньо веб додаток </p>
        <p> b.	Бібліотека класів, що дає змогу запускати практичні 1, 2 або 3</p>
    </div>
</section>
